# Rapatrier les dépendances :
#  pip3 install -U --no-cache-dir -r requirements.txt

# Version précise
# ansible-core==2.12.4

ansible-core
ansible-lint
yamllint
git-changelog
hvac
ansible-modules-hashivault

molecule
molecule-docker
# molecule-podman
# molecule-goss
